@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 70px;
    padding: 25px;
    background-color: blueviolet;
}

div.logo {
    font-size: 1.3em;
    color: white;
}

header nav a {
    margin-left: 50px;
    color: white;
    text-decoration: none;

}